/* COMMON STYLES */

h1,
h2,
h3,
h4,
h5,
h6,
p {
     margin-top: 0;
     margin-bottom: 0;
}

ul,
ol {
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;   
}

button {
     cursor: pointer;
}

img {
     display: block;
}
 
body { 
    font-family: Roboto, sans-serif;
    background-color: #fff;
    color:#434455;
 }

 .list {
        list-style-type: none;
 }

 .link {
        text-decoration: none;
 }

 .section {
        padding-top: 120px;
        padding-bottom: 120px;
 }

 .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}


/* =====MOBILE HEDER STALY===== */

.page-header { 
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                    0px 1px 1px rgba(46, 47, 66, 0.16),
                    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {      
        display: flex;
        justify-content: space-between;
}

.page-navigation {
        display: flex;
        align-items: center;        
}

.logo {
        margin-right: 76px;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        color:#2E2F42;
}

.color {
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4D5AE5;
}

.menu {
        position: relative;
        display: flex;
        column-gap: 40px;
}

@media screen and (max-width: 767px) {
        
        .page-header {
                padding: 16px 0;
        } 
        
        .container {
                max-width: 320px;
                padding: 0 15px;
                margin-left: auto;
                margin-right: auto;
        }
        
        .page-header-container {
                display: flex;
                align-items: center;       
        } 
        
        .menu {
                display: none;
        }

        .address {
                display: none;
        }
        
        .mobile-menu-open-btn {
                background-color: transparent;
                border: none;
                margin-left: auto;
                padding: 0;
                line-height: 0;
                stroke: #2F2F37;
        }
        
        .mobile-menu-wrapper {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                width: 100%;
                height: 100%;
                background-color: #FFFFFF;
                
                transform: translateX(100%);   
                transition: transform 250ms linear;
        } 
        
        .mobile-menu-wrapper .is-open {
                transform: translateX(0%); 
        }
        
        .mobile-menu-close-btn {
                position: absolute;
                top: 24px;
                right: 24px;
                width: 24px; 
                height: 24px;
                background-color: #E7E9FC;
                border: none;
                margin-left: auto;
                padding: 0;
                line-height: 0;
                border: 1px solid #E7E9FC;
                border-radius: 50%;
                fill: #2E2F42;
        }

        .mobile-menu-close-btn:focus,
        .mobile-menu-close-btn:hover {
                background-color: #404BBF;
                fill: #E7E9FC;
        }
        
        .mobile-menu {
                padding-top: 72px;
                padding-bottom: 60px;
        }  
        
        .mobile-menu-link {     
                font-size: 36px;
                font-weight: 700;
                line-height: 0.9;
                letter-spacing: 0.02em;
                text-align: left;
                color:#2E2F42;
        }
        
        .mobile-menu-item:first-child .mobile-menu-link {
                color: #404BBF;
        } 
        
        .mobile-menu-item {
                margin-bottom: 40px;
        }
        
        .mobile-menu-item:last-child {
                margin-bottom: 0px;
        }
        
        .mobile-address {
                padding-top: 60px;
                padding-bottom: 30px;
        }
        
        .mobile-address-item {
                margin-bottom: 24px;
        }
        .mobile-address-item:last-child {
                margin-bottom: 0px;
        }
        
        .mobile-address-link {      
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.02em;
                text-align: left;
                color: #434455;
        }
        
        .mobile-address-item:first-child .mobile-address-link {
                color: #4D5AE5;
        }
        
        .mobile-social-list {
                display: flex;
                justify-content: center; 
                column-gap: 45px;
                padding-top: 30px;
                padding-bottom: 30px;
        }
        
        .mobile-social-item {
                width: 40px;
                height: 40px;
        }
        
        .mobile-social-link {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
                width: 100%;
                height: 100%;
                background-color: #4d5ae5;
                border-radius: 50%; 
        }
        
        .mobile-social-svg {
                fill: #F4F4FD;
        }
        
}

/* =====MOBILE HERO STALY===== */

        .hero {
                max-width: 320px;
                min-height: 423px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 65px;            
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-color: #2E2F42;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/mobile-people-office.jpg)

        }

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
       screen and (min-resolutioin: 2dppx) and (max-width: 767px),
       screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
        .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/mobile-people-office@2x.jpg);
         }                
        }

        .main-title {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                text-transform: capitalize;
                max-width: 216px;
                font-size: 36px;              
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color:#fff;
        }

        .button-order {
                display: block;
                min-width: 169px;
                height: 56px;
                margin-top: 65px;
                margin-left: auto;
                margin-right: auto;
                padding: 16px 32px;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 0.92;
                letter-spacing: 0.06em;
                color: #fff;
                background: #4D5AE5;  
        
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .button-order:hover,
        .button-order:focus {
                background-color: #404BBF;
        }
        
        /* BACKDROP MODAL */

        .backdrop {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: opacity 250ms linear, visibility 250ms linear;
                background-color: #2E2F4266;
        }
        
        .backdrop.is-open {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
        }

        /*  MODAL WINDOW */
        
        .modal {
                position: absolute;
                padding-top: 60px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 25px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 288px;
                min-height: 623px;  
                border-radius: 4px;
                background-color: #FCFCFC;    
        }
        
        .modal-close-btn {
                position: absolute;
                width: 24px;
                height: 24px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                top: 20px;
                right: 20px;
                padding: 0;
                line-height: 0; 
                background-color: #E7E9FC;  
        
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .modal-close-btn-icon {
               fill: #2E2F42;
               transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .modal-close-btn-container {
                display: inline-block;
        }
        
        .modal-close-btn:hover, .modal-close-btn:focus,  .modal-close-btn:active,
        .modal-close-btn-container:hover .modal-close-btn-icon,
        .modal-close-btn-container:focus .modal-close-btn-icon,
        .modal-close-btn-container:active .modal-close-btn-icon {
                background-color: #404BBF;
                fill: #F4F4FD;
        }
        
        .review-form-deskription { 
                margin-bottom: 25px;           
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2E2F42;
        }
        
        .review-form-field-wrapper {
                margin-bottom: 8px;
        }
        
        .review-form-field-label {  
                display: block;       
                font-size: 12px;
                font-weight: 400;
                line-height: 1.16;
                letter-spacing: 0.04em;
                text-align: left;
                color: #8E8F99;
                margin-bottom: 2px;
        }
        
        .review-form-input-wrapper {
                position: relative;
        }
        
        .review-form-input {
                width: 100%; 
                height: 40px;
                border-radius: 4px;
                border: 1px solid #2E2F4266; 
                background-color: transparent; 
                padding-left: 40px;
                transition: border-color 250ms linear;
                outline: 0px solid transparent;
        }
        
        .review-form-input:focus {
                border-color: #4D5AE5;
        }
        
        .review-form-input-icon {             
                width: 18px;
                height: 24px;  
                position: absolute;
                top: 50%;
                left: 16px;
                transform: translateY(-50%);
                transition: 250ms solid linear;
               
        }
        
        .review-form-input:focus + .review-form-input-icon {
                fill: #4D5AE5;
        }
        
        .review-form-comment  {
                width: 100%;
                height: 120px;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.04em;
                text-align: left;
                color: #2E2F4266;
                border: 1px solid #2E2F4266;
                border-radius: 4px;
                background-color: transparent;
                padding: 10px 16px;
                resize: none;
                transition: border-color 250ms linear;
                outline: 0px solid transparent;
        }
        
        .review-form-comment::placeholder {
                color: #2E2F4266;
        }
        
        .review-form-comment:focus {
                border-color: #4D5AE5;
        }
        
        .review-form-checkbox-wrapper {
                margin-bottom: 30px;
        }
        
        .review-form-checkbox-label{
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.04em;
                color: #8E8F99;
        }
        
        .color-link {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.04em;
                color: #4D5AE5;
        }
        
        .review-form-own-checkbox {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                border-radius: 2px;
                border: 1px solid #2E2F4266;
                cursor: pointer;
                margin-right: 8px;
        }
        
        .review-form-checkbox:checked + 
        .review-form-checkbox-label > 
        .review-form-own-checkbox {
                background-color: #404BBF;
                border-color: #404BBF;
        }
        
        .review-form-checkbox:focus + 
        .review-form-checkbox-label > 
        .review-form-own-checkbox {
                outline: 1px solid #404BBF;
        }
        
        .review-form-own-checkbox-icon {
                fill:#F4F4FD;
                opacity: 0;
        }
        
        .review-form-checkbox:checked +
        .review-form-checkbox-label 
        .review-form-own-checkbox-icon {
                opacity: 1;
        }
        
        .review-form-submit-btn {
                display: block;
                min-width: 169px;
                height: 56px;      
                margin-left: auto;
                margin-right: auto;
                padding: 16px 32px;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                font-weight: 500;       
                letter-spacing: 0.06em;
                color: #fff;
                background-color: #4D5AE5;  
        
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
                
        }
        
        .review-form-submit-btn:hover,
        .review-form-submit-btn:focus {
                background-color: #404BBF;
        }

/* =====MOBILE BENEFITS STALY===== */ 

        .benefits-title {
                margin-bottom: 8px;
                font-size: 36px;
                font-weight: 700;
                line-height: 0.9;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2E2F42;
        }  
        
        .benefits-paragraph {              
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.02em;
                text-align: left;
                color:#434455;                      
        }
        
@media screen and (max-width: 767px) {

        .benefist-icon {
                display: none;
        }

       .benefits-item {
        margin-bottom: 72px;
       }

       .benefits-item:last-child {
        margin-bottom: 0;
       }
}

/* =====MOBILE TEAM-OUR STALY===== */ 
    
        .team-our {
                background: #F4F4FD;
        }

       .team-our-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;        
        letter-spacing: 0.02em; 
        color: #2E2F42;  
       }

       .team-title-paragraph {
        padding: 32px 0;
        max-width: 264px;
        border-radius: 0px 0px 4px 4px;
        background: #fff;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
        text-align: center;
        margin-bottom: 8px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.team-paragraph {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}


.social-list {
        display: flex;
        justify-content: center; 
        column-gap: 24px;
}

.social-list-item {
        width: 40px;
        height: 40px;
}

 .social-list-link {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%; 

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
        background-color: #404bbf;
} 


.social-list-svg {
        fill:  #f4f4fd;
}

@media screen and (max-width: 767px) {
        .team { 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 60px;          
        }
}

/* =====MOBILE STALY===== */ 


/* =====TABLET HEDER STALY===== */

@media (min-width: 768px) and (max-width: 1187px) {
        .container{
                max-width: 768px;
                padding: 0 15px;
                margin-left: auto;
                margin-right: auto;
                
        } 
        
        .mobile-menu-open-btn {
                display: none;
        } 
        
        .mobile-menu-wrapper {
                display: none;
        } 
        
        .menu-item::after {
                display: block;
                margin-left: auto;
                margin-right: auto;
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 48px;
                height: 4px;
                border-radius: 2px;
                background-color: #404BBF;
                
        }
        
        .menu-link { 
                position: relative;  
                display: block;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.33;
                letter-spacing: 0.01em;
                padding: 24px 0;
                color:#2E2F42;
        } 
        
        .menu-link:hover,
        .menu-link:focus {
                color: #4D5AE5;
        }
        
        .menu-item:first-child .menu-link {
                color: #404BBF;
        }
        
        .address {
                display: flex;
                flex-direction: column;
                row-gap: 8px;
        }
        
        .address-link {
                display: block;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.02em;
                padding-top: 12px;
                color: #434455;
        }
        
        .address-item:last-child .address-link {
                padding-top: 0;
        }
        
        .address-link:hover,
        .address-link:focus {
                color: #4D5AE5;
        }
        
        /* =====TABLET HERO STALY===== */
        
        .hero {
                max-width: 768px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 110px;            
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-color: #2E2F42;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/tablet-people-office.jpg);
        }
        @media screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolutioin: 2dppx) and (min-width: 768px),
        screen and (min-device-pixel-ratio: 2) and (min-width: 768px) { 
                .hero {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/tablet-people-office@2x.jpg);
                }
        }
        
        .main-title {
                max-width: 496px;
                font-size: 56px;              
                line-height: 0.93; 
                text-transform: none;             
        }
        
        .button-order {
                margin-top: 50px;
        }
        
        /* MODAL WINDOW TABLET */
        
        .modal {
                width: 408px;
        }
}

/* =====TABLET BENEFITS STALY===== */ 

@media (min-width: 768px) and (max-width: 1187px) {
        
        .benefist-icon {
                display: none;
        }
        
        .benefits {      
                display: flex;
                flex-wrap: wrap;
                row-gap: 100px;
                column-gap: 24px;
        } 
        
        .benefits li {
                width: 356px;
        }
        
        .benefits-title {
                text-align: left;
        }

/* =====TABLET TEAM-OUR STALY===== */ 

        .team {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                row-gap: 48px;
                column-gap: 24px;
        }
}

/* =====DESKTOP HEDER STALY===== */

@media (min-width: 1188px) {
        
        .container{
                max-width: 1188px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 15px;
                padding-right: 15px;
        }
        
        .mobile-menu-open-btn {
                display: none;
        } 

        .mobile-menu-wrapper {
                display: none;
        } 
        
        .menu-item::after {
                display: block;
                margin-left: auto;
                margin-right: auto;
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 48px;
                height: 4px;
                border-radius: 2px;
                background-color: #404BBF;
        
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        }
        
        .menu-link { 
                position: relative;  
                display: block;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.33;
                letter-spacing: 0.01em;
                padding: 24px 0;
                color:#2E2F42;
        
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }    
        
        .menu-link:hover,
        .menu-link:focus {
                color: #4D5AE5;
        }
        
        .menu-item:first-child .menu-link {
                color: #404BBF;
        }

        .address {
                display: flex;
                column-gap: 40px;
        }
        
        .address-link {
                display: block;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.02em;
                padding: 24px 0;
                color: #434455;
        }
        
        .address-link:hover,
        .address-link:focus {
                color: #4D5AE5;
        }
        
/* =====DESKTOP HERO STALY===== */

        .hero {
                max-width: 1440px;
                margin-left: auto;
                margin-right: auto;
                padding: 188px 0;           
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-color: #2E2F42;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/people-office.jpg);
        }

@media screen and (min-resolution: 192dpi) and (min-width: 1188px),
       screen and (min-resolutioin: 2dppx) and (min-width: 1188px),
       screen and (min-device-pixel-ratio: 2) and (min-width: 1188px) { 
        .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office@2x.jpg);
         }
        }

        .main-title {
                max-width: 496px;
                font-size: 56px;              
                line-height: 0.93; 
                text-transform: none;             
        }

        .button-order {
                margin-top: 48px;
        }
        
        /* MODAL WINDOW DEKSTOP */

        .modal {
                width: 408px;
        }

 /* =====DEKSTOP BENEFITS STALY===== */ 

        .benefits {
                display: flex;
                column-gap: 24px; 
        }

        .ben-our-item { 
                width: calc((100% - 72px) / 4);
        }  

        .benefist-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 112px;
                margin-bottom: 8px;
                border-radius: 4px; 
                background-color: #f4f4fd;
        }
        
        .benefits-title {
                font-size: 20px;
                line-height: 1.2;
                text-align: left;
        }

 /* =====TABLET TEAM-OUR STALY===== */ 

        .team {
               display: flex;
               column-gap: 24px;
        }
}